/* 会員登録画面のレイアウトとデザイン*/
.register-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

.register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.register-form div {
    margin-bottom: 15px;
}

.register-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.register-form input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-form .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.register-form button {
    width: 100%;
    padding: 12px;
    background-color: #e74c3c;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-form button:hover {
    background-color: #c0392b;
}

.register-form .login-link {
    text-align: center;
    margin-top: 10px;
}

.register-form .login-link a {
    color: #3498db;
    text-decoration: none;
}


/* 目のアイコン（クリックでパスワード表示・非表示を切り替え） */
.password-container {
    position: relative; /* アイコンを絶対位置で配置するための親要素を相対位置に設定 */
}

.password-container input {
    width: 100%;
    padding-right: 40px; /* アイコンが表示されるスペースを確保 */
}

.toggle-password {
    position: absolute; /* アイコンをフォーム内の右端に配置 */
    top: 70%; /* フォーム内で縦方向に中央揃え */
    right: 10px;
    transform: translateY(-50%); /* 中央揃えを調整 */
    cursor: pointer;
    font-size: 20px;
    color: #555;
}